html, body {
	height: 100%;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.logo{


	width: 25%;
}

#nav{


	background-color: #23272d;
	border-bottom: 1px solid #aa956f;


}

.title{

	font-family: Raleway;
	color: #000000;
	padding-top: 30px;

}

.hr{

	width: 5%;
    border: 1px solid #aa956f;
}


.formLogin{

	max-width: 500px;
	margin: auto;
	border: 1px solid #aa956f;
	border-radius: 10px;
	padding: 10px;
	

}

.form{

padding-top: 50px;
padding-bottom: 150px;

}

i{

	font-size: 12px;
}

#btnLogin {

	background-color:#aa956f;
	color: #FFFFFF;
	

}

section{
	flex: 1;
}

footer{
	width: 100%;
	background-color: #23272d;
	height: 100px; 
	border-top: 2px solid #aa956f;
	color: #FFFFFF;
	font-family: Raleway;
}