#form-payement {
    max-width: 700px;
    padding: 15px;
    margin: auto;
    border: 1px solid #aa956f;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;

}

.btnPayement {
    width: 30%;
    margin-top: 40px;
    background-color:#aa956f;
    color: #FFFFFF;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.inputPayement {
    margin-bottom: 20px;
}


#card-element {
    border: 1px solid #ced4da;
}

.alert {
    text-align: center;
}

h2 {
    text-align: center;
}

