.borderSubscription {
    width: 100%;
    padding: 15px;
    margin: auto;
    border: 1px solid #aa956f;
    border-radius: 10px;
}

.btnSubscription {
    width: 100%;
    display: block;
    font-size: 1.25rem;
    font-weight: 400;
    background-color:#aa956f;
    color: #FFFFFF;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;


}

.btnSubscription:hover {
    color: red;
    background-color: white;
    text-decoration: none;
}

.liSubscription {
    margin-bottom: 30px;
}




